<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E83E0B3E1C129E5800D6EFC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E88CF9F81C1E8A4A003F671C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E88CFA131C1E8AD1003F671C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E88CFA481C1E8C22003F671C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E89968551C1D01650019B5B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
